name: Build Android APK
on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Install dependencies
        run: npm install --force

      - name: Build Web Project
        run: npm run build

      - name: Install Capacitor & Android Platform
        run: |
          npm install @capacitor/core @capacitor/cli @capacitor/android
          npx cap init JIII com.jiii.app --web-dir dist
          npx cap add android
          npx cap sync android

      - name: Build APK
        run: |
          cd android
          chmod +x gradlew
          ./gradlew assembleDebug

      - name: Upload APK
        uses: actions/upload-artifact@v3
        with:
          name: JIII-Mobile-App
          path: android/app/build/outputs/apk/debug/app-debug.apk