name: Build Android APK
on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Install Node dependencies
        run: npm install --force

      - name: Create .env file from Secrets
        # REMPLACE LES NOMS CI-DESSOUS PAR TES VRAIS NOMS DE VARIABLES
        run: |
          echo "VITE_API_KEY=${{ secrets.VITE_API_KEY }}" > .env
          echo "VITE_AUTRE_VARIABLE=${{ secrets.VITE_AUTRE_VARIABLE }}" >> .env

      - name: Build Web Project (Vite)
        run: npm run build

      - name: Initialize Capacitor and Android
        run: |
          npm install @capacitor/core @capacitor/cli @capacitor/android
          npx cap init JIII com.jiii.app --web-dir dist
          npx cap add android || echo "Android folder already exists"
          npx cap sync android

      - name: Build APK with Gradle
        run: |
          cd android
          chmod +x gradlew
          ./gradlew assembleDebug

      - name: Upload Finished APK
        uses: actions/upload-artifact@v3
        with:
          name: JIII-Mobile-App
          path: android/app/build/outputs/apk/debug/app-debug.apk